main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: Segoe UI;
    box-sizing: border-box;
}

*::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #b9b9b9c9;
}